<footer class="footnote footnote-tiffany">
	<div class="container">
		<a class="foot-item" href="mailto:{{ site.email }}" target="_blank">
			📧
			<!-- <span class="octicon octicon-mail"></span> -->
		</a>
		<!-- <a
			class="foot-item"
			href="https://github.com/{{ site.github.username }}"
			target="_blank"
			><span class="octicon octicon-mark-github"></span
		></a> -->
		<a
			class="foot-item"
			href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"
			target="_blank"
		>
			📡
			<!-- <span class="octicon octicon-rss"></span> -->
		</a>
		<a
			class="foot-item"
			href="{{ '/link/' | prepend: site.baseurl | prepend: site.url }}"
		>
			👻
			<!-- <span class="octicon octicon-link-external"></span> -->
		</a>
		&nbsp;
		<span class="word-keep">&copy; 油腻叔</span>
	</div>
</footer>

<!-- <script
	type="text/javascript"
	src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"
></script> -->

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"
	integrity="sha512-ju6u+4bPX50JQmgU97YOGAXmRMrD9as4LE05PdC3qycsGQmjGlfm041azyB1VfCXpkpt1i9gqXCT6XuxhBJtKg=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>

<!-- <script
	type="text/javascript"
	src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"
></script> -->

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js"
	integrity="sha512-nBe/MAVnca0bCImmi2/WzJoGCgaUOMVDtTXFXUcxuLuFLUc3FGdOx8LR28WxgocUumd4Db5k5Ppjqz1M1Ijy1A=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>

<script
	type="text/javascript"
	src="{{'/static/js/script.js' | prepend:site.baseurl | prepend: site.url  }}"
></script>

<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

{% for script in page.scripts %}
<script
	type="text/javascript"
	src="{{'/static/js/' | append:script | prepend:site.baseurl | prepend: site.url  }}"
></script>
{%endfor%}
